/backlight {
    compatible = "zmk,backlight";
    leds = <&led0 &led1 &led2 &led3 &led4 &led5>;
};

/* Define cada LED con su pin GPIO correspondiente */
led0: led0 {
    gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
};

led1: led1 {
    gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
};

led2: led2 {
    gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
};

led3: led3 {
    gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
};

led4: led4 {
    gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
};

led5: led5 {
    gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
};

/* Nodo elegido por ZMK para inicializar backlight */
chosen {
    zmk,backlight = &backlight;
};
